 * {
    box-sizing: border-box;
}

@font-face {
	font-family: arcade-classic;
    src: url(../fonts/ARCADECLASSIC.TTF);
}

@font-face {
	font-family: arcade-lower;
    src: url(../fonts/ArcadeAlternate.ttf);
}

@font-face {
	font-family: arcade-fancy;
    src: url(../fonts/ka1.ttf);
}

body {
	padding-top: 10%;
	padding-left: 35%;
	padding-right: 35%;
	background-color:#FDF6F6;
	background: url(../bckg0.jpg) no-repeat center center fixed;
	height: 100%;
	font-weight: 100%;
    background-size: cover;
}



/*COLOR PALETTE
	mint : #B3DBC0
	beige : #E99787
	porcelaine : #FDF6F6
	fesh blue : #67BACA */

h1,h2 {
	font-family: arcade-fancy;
	color : #FDF6F6;
}

label, p {
	font-family: arcade-lower;
	color : #FDF6F6;
}
/*
input[type="submit"] {
	border: 1px solid red;
	border-radius: 5px;
	color: #fff;
	background-color:darkblue;
	font-size: 110%;
}
*/


input[type="text"],
input[type="password"],
input[type="e-mail"] {
	height: 20px;
	width: 200px;
	border: 2px solid black;
	border-radius: 8px;
	font-size: 110%;

  
}

input[type="submit"] {
    background: white;
    text-align: center;
    font-size: 20px;
    font-family: arcade-classic;
    text-decoration: none;
    color: black;
    border:2px solid darkgrey;
    border-top:1px;
    border-left:2px;
   
}


.actions a {
	font-size: 10px;
	font-family: arcade-lower;
}

@supports (display: grid) { 

	body {
	    display: grid;
	    align-content: center;
	    justify-content: center;
	 	}

	@media (min-width: 650px) {
		.login {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-areas:
				"user"
				"pw"
				"login";
				
			width: auto;


		}

		.signup {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas:
				"user"
				"pw"
				"pwver"
				"email"
				"btn";
				
			width: auto;
		}
			
		}
		
		.textfields{
			display: grid;
		    grid-template-columns: 1fr 2fr;
		    align-items: center;
		     padding: 5px 0 0 30px;
		     
		}

		.actions {
			display: grid;
		    grid-template-columns: 1fr 1fr 1fr;
		    align-items: center;
			 padding: 5px 0 0 20px;
		}

		input[type="submit"] {
      		grid-column: 2;
      		margin-right: 5px;
      		margin-left: 10px;
   		}

		
	}
}

